a {
    Text-Decoration: none;
    color: inherit;
}
*{
    margin:0; padding:0;
}
body {
    background-color: #fff; 
}

.text_wrap {
    font-weight: 700;
    font-size: 120px;
    font-style: normal;
    color: #393939;
    text-align: center;
    margin-top: 250px;
    height: 80vh;
    width: 100%;
}

.under_text h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7;
    font-size: 14px;
}

.text_wrap .box {
    background-color: #ffbf00;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.text_wrap em {
   display: inline;
    width: 50px;
}

.text_wrap .box2 {
    background-color: #ffbf00;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    border-radius: 15px;
    border: 2px solid #888;
    animation: intro 1s;
}
.scroll {
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 8px;
    margin-top: 6px auto;
    border-radius: 4px;
    background-color: #888;
    animation: finger 2s infinite;
}