a {
    Text-Decoration: none;
    color: inherit;
}
*{
    margin:0; padding:0;
}
body {
    background-color: #fff; 
}


.nav {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px;
    
}

.nav .logo  a {
    font-size: 30px;
    font-weight: 800;
    color: #393939;
}

.menu {
    width: 4%;
    align-items: center;
    text-align: right;
}
.menu a {
    display: flex;
    align-items: center;
}
.menu span:first-child {
    color: #393939;
    font-weight: 700;
    font-size: 16px;
    margin-right: 17px;
}
.menu span b {
    display: block;
    width: 23px;
    height: 2px;
    background-color:#393939;
    transition: all 0.3s;
    position: relative;
}
.menu span b:nth-child(2) {
    margin: 4px 0;
}

.menu span .a {
    transform-origin: right top;
}
.menu span .c {
    transform-origin: right bottom;
}

.menu:hover span .a {
    transform: rotate(-45deg);
    width: 18px;
   
}
.menu:hover span .b {
    width: 0;
    
}
.menu:hover span .c {
    transform: rotate(45deg);
    width: 18px;
      
}
